<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>

    

    <div style="padding: 10px;">
        <label for="start" style="font-weight: bold;">Pick Date</label>
        <input type="date" id="myDate" name="trip-start" value="<%= data.date %>" min="2018-01-01" max="<%= maxDate %>">
        <button onclick="myFunction()">SHOW</button>
    </div>


    <% if(data !='' ){ %>

        <h3 style="text-align: center;">
            <%= data.title %>
        </h3>

        <img src="<%= data.url %>" alt="astronomy image"
            style=" margin: 0 auto; display: block; width: 50%; height: 500px;">

        <br />

        <p style="font-weight: bold ;">
            <%= data.explanation %>
        </p>

        <% } %>



            <script>

                const myFunction = () => {
                    let selectedDate = document.getElementById("myDate").value;
                    
                    console.log(typeof (selectedDate));
                    window.location.href = `/get-astronomy-by-date/${selectedDate}`;
                }

            </script>

</body>

</html>